<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cunpiao.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>913A80EF015CF59965093A5DA391EE7C385FD955</string>
				<key>dateExpires</key>
				<string>2018/8/2</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>YM2MZ34492.com.cunpiao.cunpiao</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>YM2MZ34492</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Cunpiao.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>09044f06-2cb2-4fd0-b849-83ba7c695090</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.cunpiao.cunpiao</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>YM2MZ34492</string>
				<key>name</key>
				<string>Shanghai YanZhi Network Technology Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
